<h1>Hello! I'm your stupid coach</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="user_input" placeholder="question" class="mt-3">
  <input type="submit" value="Ask!" class="btn-primary">
</form>
